:root {
  /* ## Colors */
  /* ### Primary */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 95%);
  /* ### Neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White-color: hsl(0, 0%, 100%);
  font-family: "League Spartan", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 290px;
}

.conten {
  margin-bottom: 20px;
  
  .conten__h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 26px;
  }
  .conten__p {
    text-align: center;
    font-weight: 400;
  }
}

.rated {
  width: 100%;
  margin-bottom: 20px;
  height: 200px;

  .rated__section {
    background-color: var(--Soft-Pink);
    text-align: center;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    width: 290px;
  }

  .rated__img {
    margin: 0px 2px;
  }
  .rated__h2 {
    margin: 5px;
    font-size: 0.9rem;
  }
}

.cards__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: var(--Very-Dark-Magenta);
  color: white;

  .cards__div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .cards__img {
    width: 35px;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
  }
  .cards__nombre {
    line-height: 18px;
  }
  .cards__span {
    font-weight: 550;
    color: var(--Dark-Grayish-Magenta);
  }
  .cards__p {
    line-height: 22px;
  }
}

@media (width >= 450px) {
  body {
    height: 100vh;
  }

  .container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "conten rated"
    "cards cards";
    width: 90%;
    height: 90%;
    margin: 0px;
  }

  .conten {
    grid-area: conten;
    width: 100%;
    margin: 0px;
    height: 200px;
    padding-right: 50px;
  }
  
  .conten__h1 {
    padding-right: 60%;
  }
  .conten__p {
    padding-right: 20%;
  }
  
  .rated {
    grid-area: rated;
    margin: 0px;
  }
  
  .cards {
    grid-area: cards;
    display: flex;
    justify-content: space-around;

    .cards__card {
      width: 290px;
      height: 230px;
    }
  }

  .rated__section--middel {
    margin-left: 50px;
  }
  .rated__section--button {
    margin-left: 100px;
  }

  .card--middel {
    margin-top: 20px;
    margin-left: 15px;
  }
  .card--buttom {
    margin-left: 15px;
    margin-top: 40px;
  }
}
